{% extends 'galeria/base.html' %}
{% load static %}


{% block content %}

    <div class="pagina-inicial">
        <header class="cabecalho">
            <img src="{% static 'assets\logo\Logo(2).png' %}" alt="Logo da KikaiCode" />
            <div class="cabecalho__busca">
                <div class="busca__fundo">
                    <input class="busca__input" type="text" placeholder="What are you looking for?">
                    <img class="busca__icone" src="{% static 'assets/ícones/1x/search.png' %}" alt="ícone de search">
                </div>
            </div>
        </header>
        <main class="principal">

            {% include 'utilizadores/partials/menu-lateral.html' %}

            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static 'assets/imagens/warrior.jpg' %}" alt="banner Alura Space">
                    <h1 class="banner__titulo"> A guide for FFXIV Classes!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Search by tags:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag">Tank</li>
                        <li class="tags__tag">Melee DPS</li>
                        <li class="tags__tag">Ranged DPS</li>
                        <li class="tags__tag">Magical DPS</li>
                        <li class="tags__tag">Healer</li>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Choose what class u wanna see</h2>
                        <ul class="cards__lista">

                            {% if cards %}
                            {% for set_image in cards %}

                            <li class="card">
                                <a href="{% url 'imagem' %}">
                                    <img class="card__imagem" src="{% static 'assets/imagens/galeria/'%}{{ set_image.img }}" alt="foto">
                                </a>
                                <span class="card__tag">{{ set_image.category }}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ set_image.name }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ set_image.caption }}</p>
                                        <span>
                                            <img src="{% static 'assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>

                            {% endfor %}
                            {% else %}
                            {% endif %}

                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>

    {% include 'galeria/partials/_footer.html' %}
{% endblock %}